{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="Row">
        <div class="col-md-8 col-md-offset-4">
            <h5>
                Accounts
            </h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form id="transfer-form" method="post" action="{% url 'transfer' %}" class="form-horizontal">
                {% csrf_token %}
                <div id="messagediv" class="controls">
                </div>
                <div id="errors" class="controls">
                </div>
                <div class="form-group">
                    <label>
                    {{ transfer_form.users.label }}
                    </label>
                    <div class=controls">
                    {{ transfer_form.users }}
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        {{ transfer_form.itn.label }}
                    </label>
                    <div class=controls">
                    {{ transfer_form.itn }}
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        {{ transfer_form.transfer_sum.label }}
                    </label>
                    <div class=controls">
                    {{ transfer_form.transfer_sum }}
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-sm">
                        Transfer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

